/*------------------------------------*\
  layout
\*------------------------------------*/
.l-root {
  position: relative;
}

.l-globalInner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  @include media-breakpoint-up(md) {
    padding: 0 40px;
  }
}
.l-kv {
  height: 100vh;
  &__container {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__ttl {
    font-size: 4.5rem;
    display: block;
  }
  &__txt {
    font-size: 2rem;
  }
}
.l-item {
  margin-bottom: 150px;
  @include media-breakpoint-up(md) {
    margin-bottom: 200px;
  }
  &__thumb {
    display: block;
    border: 1px solid #f1f1f1;
    margin-bottom: 40px;
    a {
      position: relative;
      display: block;
      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: #000;
        top: 0;
        left: 0;
        opacity: 0;
        transition: 0.1s;
      }
      &:hover {
        &::after {
          opacity: 0.1;
        }
      }
    }
  }
  &__ttl {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  &__txt {
    font-size: 1.6rem;
  }
}
