/*------------------------------------*\
  utility
\*------------------------------------*/

// ブレークポイントが768px
.u-hidden--sp {
  @include media-breakpoint-up(md) {
    display: none !important;
  }
}

.u-hidden--pc {
  display: none;

  @include media-breakpoint-up(md) {
    display: block;
  }
}

.u-txt--center {
  text-align: center;
}
