/*------------------------------------*\
 variables
\*------------------------------------*/
// ブレイクポイント
$breakpoint-xs: 321px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1460px;

// カラー
$color-dark: #464646;
$color-lighter: #ededed;
$color-light: #f6f6f6;
$color-warning: #ffd424;
$color-success: #006f65;
$color-info: #6cd8d1;
$color-danger: red;
